@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Olá @System.Environment.MachineName!</h1>
    <p>CRUD de uma agenda de contatos em ASP.NET</p>
</div>
